body {
  background-color: #d9d9d9;
  font-family: "Croissant One", cursive;
}
/* 
font-family: 'Meddon', cursive;
font-family: 'Dawning of a New Day', cursive;
font-family: 'Fondamento', cursive;
font-family: 'Grandiflora One', serif;
font-family: "Kalam", cursive;
font-family: "Luckiest Guy", cursive;
*/
h2 {
  text-align: center;
  font-size: 60px;
  font-family: "Dawning of a New Day", cursive;
}

@media only screen and (max-width: 480px) {
  .slide {
    width: 100%;
    height: 80vh;
  }
  h2 {
    font-size: 70px;
  }
}
h3 {
  font-family: "Luckiest Guy", cursive;
  font-size: 80px;
  margin: 0 auto;
}
ul {
  font-size: 40px;
  display: inline-flex;
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 90%;
  justify-content: end;
  background-color: #dce3f9;
  font-family: "Dawning of a New Day", cursive;
  z-index: 1;
}
ul a {
  text-decoration: none;
  color: black;
}
ul a:hover {
  color: #6d7eb5;
}

li {
  padding: 5px 20px;
}
li:hover {
  font-size: 47px;
  cursor: pointer;
}
li:first-of-type {
  margin-right: auto; /* aligns LOGO item to the left */
}
/*
.main-container {
  border: 1px solid black;
  width: 80%;
  height: 100vh;
  margin: 50px;
}
*/
.container {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.slide {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
}
.slide2 {
  background-image: url("/img/colorful-notes.jpeg");
  background-repeat: repeat;
  background-size: cover;
  opacity: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 
.slide3 {
  height: 100%;
}
.hero {
  height: 100vh;
}   

  */

.shop-button {
  text-decoration: none;
  color: black;
  padding: 30px 30px;
  border: 1px solid black;
  border-radius: 55px;
  margin-top: 20px;
  font-size: 40px;
  background-color: rgb(155, 188, 255);
}
.shop-button:hover {
  cursor: pointer;

  border: 1px solid yellow;
  box-shadow: 0px 0px 30px 20px yellow;
}

.wrapper {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.ciao-frames {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  width: 80%;
  max-width: 800px;
  height: 400px;
}
.frame {
  width: 400px;
  height: 200px;
  margin: 2px;
  display: block;
  /* border: 1px solid white; */
  background: transparent
    url("https://assets.codepen.io/219932/ciao-frames.png") 0 0 no-repeat;
}
#one {
  -webkit-animation: letterC 1s steps(12) infinite;
  animation: letterC 1s steps(12) infinite;
}
#two {
  -webkit-animation: letterI 1s steps(12) infinite;
  animation: letterI 1s steps(12) infinite;
}
#three {
  -webkit-animation: letterA 1s steps(12) infinite;
  animation: letterA 1s steps(12) infinite;
}
#four {
  -webkit-animation: letterO 1s steps(12) infinite;
  animation: letterO 1s steps(12) infinite;
}
@-webkit-keyframes letterC {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -2400px;
  }
}
@keyframes letterC {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -2400px;
  }
}
@-webkit-keyframes letterI {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: -400px -2400px;
  }
}
@keyframes letterI {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: -400px -2400px;
  }
}
@-webkit-keyframes letterA {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: -800px -2400px;
  }
}
@keyframes letterA {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: -800px -2400px;
  }
}

@-webkit-keyframes letterO {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: -1200px -2400px;
  }
}

@keyframes letterO {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: -1200px -2400px;
  }
}

footer {
  text-align: center;
}
footer img {
  width: 10%;

  margin: 40px 15px;

  border-radius: 50%;
}
footer img:hover {
  cursor: pointer;
  box-shadow: 20px 20px rgb(207, 191, 255);
}
/* shop page */
.shop-container {
  margin: 150px auto;
}
p {
  font-size: 30px;
}
